<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>UNNotificationExtensionCategory</key>
			<string>CTNotification</string>
			<key>UNNotificationExtensionInitialContentSizeRatio</key>
			<real>0.1</real>
			<key>UNNotificationExtensionDefaultContentHidden</key>
			<true/>
			<key>UNNotificationExtensionUserInteractionEnabled</key>
			<string>1</string>
		</dict>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.usernotifications.content-extension</string>
	</dict>
	<key>CleverTapAccountID</key>
	<string>48K-RZK-Z77Z</string>
	<key>CleverTapToken</key>
	<string>312-3b4</string>
	<key>Application Application App Transport Security Settings</key>
	<dict/>
	<key>Allow Arbitrary Loads</key>
	<true/>
</dict>
</plist>
